* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;

}

.NAV1 {
    height: 120px;
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 0px;
  
    z-index: 9;
    background-color: white;
    top: 0;
}

nav .nav-left {
    display: flex;
    padding-bottom: 8px;
}

nav .nav-left .search {
    position: relative;
}

nav .nav-left .search input {
    position: absolute;
    border: none;
    margin-left: 5%;
    background-color: white;
    border-radius: 50px;
    padding: 7px 16px 9px 36px;
    font-size: 15px;
    color: rgb(82, 79, 79);
    height: 40px;
    width: fit-content;
    z-index: px;
    outline: none !important;
    transition: 0.4s;

}

nav .nav-left .search input:hover {
    margin-left: 20px;

}


nav .nav-left .search .fa-solid {
    color: rgb(172, 167, 167);
    position: absolute;
    font-size: 15px;
    left: 15px;
    top: 15px;
}

nav .nav-center {
    border: 3px solid rgba(0, 0, 0, 0.648);
    width: 30%;
    height: 7vh;
    text-decoration: none;
    margin-left: 500px;
    margin-top: 2px;
}

nav .nav-center h1 {
    font-size: 20px;
    color: #5d5c5c;

    text-align: center;
}

nav .nav-right {
    display: flex;
    padding-left: 450px;

}

nav .nav-right a {
    justify-content: space-between;
    padding: 10px 10px;
    text-decoration: none !important;
    color: #999595;

}

nav .nav-right a:hover {
    color: #5d5c5c;
}


nav .nav-right a h4 {
    color: white;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: purple;
    position: absolute;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: -51px;
    position: absolute;
}

nav .nav-right .fa-cart-shopping {
    position: relative;
}

/* aicon2 */
/* nav .nav-right .fa-2{ 
    color: white;
    border-radius: 50%;
    width: 20px;
    border: 2px solid transparent;
    text-align: center ;
    background-color:purple;
    margin-left: -6px;
    margin-right: 0px;
    margin-top: -13px;
    position: absolute;
 }
 */
/* END NAV 1 */
/* START NAV2 */
.nav2 {
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 340px 0px;
    background-color: white;
    top: 0;
}

.nav2 a {
    text-decoration: none;
    color: black;
}

.nav2 a:hover {
    color: purple;
}

.home {
    color: purple !important;
}

.shose {
    background-color: rgb(11, 254, 254);
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 20px;
    display: flex;
}

.shose img {
    position: absolute;
    width: 600px;
    margin-left: 100px;
    margin-top: 100px;
}

.text {
    position: absolute;
    left: 790px;
    top: 200px;
}

.text h1 {
    font: bold;
    font-size: 40px;
    margin: -20px;
}

.text p {
    margin: 20px;
    margin-left: -15px;
}

.btn-11 {
    position: relative;
    width: 100%;
    height: 100vh;

}

.btn {
    font-size: 17px;
    font-weight: bold;
    background: rgb(90, 3, 90);
    width: 150px;
    padding: 7px 30px;
    margin-left: -12px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    transition: 1s;

}

.btn:hover {
    box-shadow: 1px 1px rgb(195, 193, 193);
    height: 50px;
    width: 150px;
    transform: scale(1.2);
    z-index: 2;

}


.section-two {
    position: relative;
    display: flex;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 40px;
    justify-content: space-between;
}

.section-two i {
    position: absolute;
    color: purple;
    margin-left: -50px;
    margin-top: 4px;
    font-size: 30px;
}

.section-two h1 {
    font-size: 16px;

}

.section-two p {
    font-size: 15px;
    color: #5d5c5c;
}

.section-three {
    position: relative;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0;
    flex-direction: row;
    filter: brightness(80%);

}

.box {
    transition: 1s;
    margin: 0 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.box:hover {
    transform: scale(1.2);
    z-index: 2;
}

.section-three img {
    width: 350px;
    display: block;


}


.section-three h1,
h6 {
    position: absolute;
    margin-top: -70px;
    margin-left: 20px;
    color: white;
   

}

.section-three h6 {
    font-size: 20px;
    margin-top: -90px;
}


.gallery {
    margin-top: 90px;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #e8e4e4c6;
}

.gallery .section-four {
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.gallery .section-four .shurt {
    margin-left: 40px;
    margin-top: 150px;
    margin-right: 40px;
    border: 2px solid transparent;

    height: 350px;

    background-color: white;

}

.gallery .section-four .shurt img {
    width: 300px;
}

.gallery .section-four .shurt h3 {
    color: purple;
}

.gallery h1 {
    position: absolute;
    top: 80px;
    left: 600px;
}

.gallery .line {
    border: 1px solid rgb(179, 8, 179);
    width: 40px;
    height: 2px;
    position: absolute;
    top: 70px;
    left: 670px;
}

.cloth {
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: relative;

}

.cloth img {
    width: 600px;
    height: 400px;
}

.cloth .salee {
    margin-left: 70px;
}

.cloth .sale {
    position: absolute;
    margin-left: 800px;
    margin-top: -300px;
    text-align: center;
}

.cloth h2 {
    color: purple;
    font-size: 30px;
}

.cloth span {
    color: purple;
}

.cloth h4 {
    color: rgb(164, 162, 162)
}

.btn33 {
    position: absolute;
    margin-top: 50px;
    margin-left: -170px;
}

.line33 {
    width: 40px;
    height: 2px;
    border: 1px solid purple;
    position: absolute;
    margin-left: 680px;
    margin-top: -90px;
}

.big-sale h1 {
    position: absolute;
    margin-top: -80px;
    margin-left: 660px;
}

hr {
    font-size: 5px;
    color: rgb(246, 244, 244);
    box-shadow: 20px 20px 20px black;
}

footer {
    position: relative;

}

footer .all-footer {
    position: absolute;
    display: flex;
    margin-top: 60px;

    justify-content: space-between;
    width: 100%;
    padding: 0px 50px 50px;
}

footer .all-footer a {
    justify-content: center;
    text-decoration: none;
    display: list-item;
    list-style: none;
    color: #717070;
    cursor: pointer;

}

.center {
    margin-top: 65px;
}

footer .all-footer i {
    margin-left: -30px;
    margin-top: 6px;
    position: absolute;
    color: purple;
    font-size: 20px;
}

.icon {

    margin-left: -100px;
    position: relative;
}

.pormo img {
    width: 300px;
    height: 150px;

}

.shose11 {
    color: purple !important;
    font-size: 18px;
}


.subscribe {
    margin-left: -30px;
    margin-top: 50px;
}

/* .sub{
    position: relative;
    width: 180px;
    height: 50px;
    border: 2px solid rgb(164, 164, 164) ;
}
.sub h4{
    color: #515050;
    margin-left: 10px;
    margin-top: 5px;
} */
.subss {
    text-decoration: none;
    width: 190px;
    height: 50px;
    margin-top: 20px;
}

.send {
    width: 90px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 10%;
    position: absolute;
    text-align: center;

    background-color: purple;
    margin-left: 175px;
    margin-top: -50px;
}

.emailll {
    text-align: center;
    color: white !important;
}

.bee {
    font-size: 20px;
    color: #494848;

}
.your-name{
    margin-top: 500px;
    margin-left: 380px;
    margin-bottom: 70px;
    color: #717070;
}
.your-name span{
    color: purple;
}
.fa-heart{
    font-size: 20px;
}